:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --cor-titulo: hsl(300, 43%, 22%);
    --cor-conteudo-depoimentos: hsl(0, 0%, 100%);
    --cor-conteudo-verificado: hsl(333, 80%, 67%);
    --fonte-padrao: 'League Spartan', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

.sessao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 50vh;
    margin: 0 10rem;
}

.sessao:first-child {
    min-height: 60vh;
    align-items: center;
}

.avaliacoes {
    width: 50vw;
}

.avaliacoes:first-child {
    margin-left: 2rem;
}

.avaliacoes:last-child {
    align-items: end;
}

.div-avaliacoes div {
    display: flex;
    align-items: center;
    background-color: var(--light-grayish-magenta);
    border-radius: .5rem;
    padding: .5rem;
}

.titulo-sessao {
    width: 25vw;
}

.titulo-principal {
    color: var(--very-dark-magenta);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* DEPOIMENTOS */
.colton-smiht, .irene-robers, .anne-wallace{
    background-color: var(--cor-titulo);
    color: var(--cor-conteudo-depoimentos);
    width: 280px;
    height: 160px;
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
}

.irene-robers{
    margin: 20px 0px 0px 20px ;
}

.anne-wallace{
    margin: 40px 0px 0px 20px;
}

.perfil{
    display: flex;
    align-items: center;
}

.imagem{
    width: 60px;
}

.imagem img{
    border-radius: 50%;
    width: 65%;
}

.nome h4, h5{
    font-size: 13px;
    margin-top: 5px;
}

.nome h5{
    color: var(--cor-conteudo-verificado);
    font-weight: 400;
}

.colton-smiht p, .irene-robers p, .anne-wallace p{
    margin-top: 20px;
    width: 260px;
    font-size: 15px;
    line-height: 20px;
}

@media(max-width: 1300px){
    .midia-sessao{
        justify-content: center;
    }

    .colton-smiht{
        margin: 20px 0px 0px 20px ;
    }

    .irene-robers{
        margin: 10px 0px 0px 20px ;
    }

    .anne-wallace{
        margin: 10px 0px 50px 20px;
    }
}